:root {
  --heading-color: #34006c;
  --links-color: #5300AF;
  --violet-color: #7A08FA;
  --cool-purple-color: #A82FFC;
  --heliotrope-color: #C264FE;
  --pale-purple-color: #F8ECFD;
  --star-rating-color: #FF9529;
  --banana-color: #FFE234;
  --orange-color: linear-gradient(140deg, #FA8B08, 60%, #fab508);
  --pink-color: linear-gradient(140deg, #F508FA, 60%, #b908fa);
  --green-color: linear-gradient(140deg, #5bff03, 60%, #03ff4f);
  --black-color: linear-gradient(140deg, #000, 60%, #272727);
  --white-color: #fff;
  /* shape color  */
  --shape-color: #5300AF;
  /* card box shadow  */
  --card-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
  /* cta color  */
  --cta-bg-color: #ffffff;
  /* 1px border width to 0px*/
  --border-width: 1px;
  /* lists bg color */
  --header-lists-bg: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--cool-purple-color);
  outline-offset: 1px;
  border-radius: 6px;
}

/* poppins font  */
@font-face {
  font-family: 'poppins-700';
  src: url(../fonts/poppins/Poppins-Bold.ttf), local('Poppins Bold'), local('Poppins-Bold');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: poppins-600;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf), local('Poppins Semibold'), local('Poppins-Semibold');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: poppins-500;
  src: url(../fonts/poppins/Poppins-Medium.ttf), local('Poppins Medium'), local('Poppins-Medium');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: poppins-400;
  src: url(../fonts/poppins/Poppins-Regular.ttf), local('Poppins Regular'), local('Poppins-Regular');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* body  */
.body {
  background: var(--pale-purple-color);
  font-family: 'poppins-400', sans-serif;
  color: var(--links-color);
  padding-top: 106px;
}

/* dark mode run  */
.dark-mode {
  --heading-color: #F8ECFD;
  --links-color: #A82FFC;
  --violet-color: #7A08FA;
  --cool-purple-color: #A82FFC;
  --heliotrope-color: #C264FE;
  --pale-purple-color: linear-gradient(45deg, #1f0041, #310066);
  --star-rating-color: #FF9529;
  --banana-color: #FFE234;
  --orange-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --pink-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --green-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --black-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --white-color: #5b00c3;
  /* lists bg color */
  --header-lists-bg: linear-gradient(140deg, #310064, 85%, #5b00c3);
  /* shape color  */
  --shape-color: #290056;
  /* card box shadow  */
  --card-shadow: 0 0 0px 0.5px #43008a, 1px 1px 3px 0 #0000005b;
  /* cta color  */
  --cta-bg-color: linear-gradient(45deg, #290056 10%, 60%, #4d00a4);
  /* 1px border width to 0px*/
  --border-width: 0px;
}

/* container  */
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

/* intial syles  */
ul {
  list-style: none;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-family: poppins-700;
  color: var(--heading-color);
}

h2 {
  font-size: 34px;
  line-height: 40px;
  font-family: poppins-600;
  color: var(--heading-color);
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-family: poppins-500;
  color: var(--heading-color);
}

p {
  font-size: 18px;
  line-height: normal;
}

section {
  padding: 60px 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

/* top btn  */
@keyframes topBtnAnimation {
  0% {
    opacity: 0;
    bottom: 10px;
  }

  1000% {
    opacity: 1;
    bottom: 40px;
  }
}

.top-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  animation: topBtnAnimation 0.8s ease;
  transition: background-color 0.3s ease;
}

@keyframes topToBottom {
  0% {
    bottom: 40px;
    opacity: 1;
  }

  100% {
    bottom: 20px;
    opacity: 0;
  }
}

.top-to-bottom {
  animation: topToBottom 0.8s ease;
}

.top-btn svg {
  z-index: 2;
  transition: color 0.3s ease;
}

.top-btn:hover {
  background: var(--cool-purple-color);
  color: #fff;
}

/* header  */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: var(--pale-purple-color);
  z-index: 10;
  padding: 24px 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  transition: padding 0.3s ease;
}

/* small header */
.small-header {
  padding: 14px;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 150px;
  height: 51px;
  transition: width 0.3s ease, height 0.3s ease;
}

.small-header-logo {
  width: 130px;
  height: 45px;
}

/* nav  */
.nav-and-darkmode-btn-wrapper {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  font-family: 'poppins-500', sans-serif;
  font-size: 18px;
  line-height: normal;
}

.header-list-child {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.header-list-child a {
  color: var(--links-color);
}

.pages-link-list-title:hover,
.wallpapers-link-list-title:hover,
.header-list-child a:hover,
.pages-link-list-child a:hover,
.wallpapers-link-list-child a:hover {
  color: var(--heading-color);
}

.pages-link-list-title,
.wallpapers-link-list-title,
.header-list-child a,
.pages-link-list-child a,
.wallpapers-link-list-child a {
  transition: color 0.3s ease;
}

.pages-link-list,
.wallpapers-link-list {
  visibility: hidden;
  position: absolute;
  width: 170px;
  padding: 10px;
  background: var(--header-lists-bg);
  border-radius: 8px;
  font-family: 'poppins-400', sans-serif;
  font-size: 16px;
  top: 22px;
  left: -10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  transition: visibility 0.2s ease;
}

.pages-link-list-title:hover~.pages-link-list,
.wallpapers-link-list-title:hover~.wallpapers-link-list,
.pages-link-list:hover,
.wallpapers-link-list:hover {
  visibility: visible;
}

.pages-link-list {
  width: 190px;
}

.pages-link-list-child,
.wallpapers-link-list-child {
  position: relative;
}

.wallpapers-link-list-child:not(:last-child),
.pages-link-list-child:not(:last-child) {
  margin-bottom: 3px;
}

.pages-link-list-child:first-child::before,
.wallpapers-link-list-child:first-child::before {
  content: '';
  position: absolute;
  top: -19px;
  left: 4px;
  width: 13px;
  height: 10px;
  background: var(--white-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.wallpapers-link-list {
  position: absolute;
  font-family: 'poppins-400', sans-serif;
  width: 170px;
  padding: 10px;
  border-radius: 8px;
}

/* dark mode btn  */
.dark-mode-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 80px;
  height: 40px;
  padding: 4px;
  background: var(--white-color);
  border-radius: 100px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.sun-icon,
.moon-icon {
  z-index: 2;
  width: 26px;
  height: 26px;
}

.sun-icon {
  margin-left: 3px;
}

@keyframes sun-animation {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 0.7);
  }

  95% {
    transform: scale(0.7, 1.3);
  }
}

.sun-animation {
  transform: scaleX(1);
  animation: sun-animation 0.5s ease;
}

.dark-mode-btn-circle-shape {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 0;
  width: 32px;
  height: 32px;
  z-index: 1;
  border-radius: 100px;
  background: var(--shape-color);
  transition: left 0.5s ease, right 0.5s ease, width 0.5s ease, ;
}

@keyframes shape-intial-animation {
  0% {
    right: 4px;
    left: auto;
  }

  49% {
    right: 4px;
    left: auto;
  }

  50% {
    right: auto;
    width: 72px;
  }

  100% {
    width: 32px;
  }
}

.shape-intial-animation {
  right: auto;
  animation: shape-intial-animation 0.5s ease;
}

@keyframes shape-animation {
  0% {
    right: auto;
  }

  49% {
    right: auto;
  }

  50% {
    right: 4px;
    width: 72px;
  }

  100% {
    width: 32px;
  }
}

.shape-run {
  left: auto;
  right: 4px;
  animation: shape-animation 0.5s ease;
}

.moon-icon {
  margin-right: 3px;
}

.remove-intial-animation {
  animation-name: sun-animatio;
}


/* main  */
.center {
  padding: 60px 20px;
}

.index-title {
  margin-bottom: 12px;
}

.index-title~p {
  max-width: 710px;
  font-family: poppins-500;
  margin-bottom: 40px;
}

.pages-cards-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.page-card-child {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: start;
  border-radius: 50px;
  padding: 40px 40px 0;
  height: 400px;
  box-shadow: var(--card-shadow);
}

.page-card-child:hover .page-card-center-img {
  transform: scale(1.1);
}

.page-card-child:nth-child(1) {
  background: var(--green-color);
}

.page-card-child:nth-child(2) {
  background: var(--pink-color);
}

.page-card-child:nth-child(3) {
  background: var(--orange-color);
}

.page-card-child:nth-child(4) {
  background: var(--black-color);
}

.page-card-child div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.page-card-title {
  color: #FFF;
  font-family: poppins-600;
  font-size: 26px;
  font-style: normal;
  line-height: normal;
}

.top-right-arrow-icon {
  color: white;
}

@keyframes shooting {

  0% {
    transform: scale(1) translate(0px, 0px);
  }

  50% {
    transform: scale(0.3) translate(0px, 0px);
  }

  100% {
    transform: scale(1) translate(100px, -100px);
  }
}

.shooting {
  transform: translate(100px, -100px);
  animation: shooting 0.6s ease;
}

.page-card-center-img {
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease;
}

.white-mountains-img {
  bottom: calc(50% - 72px);
}

.image-count-info {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 50px;
  border-radius: 50px 0;
  background: #5300AF;
  color: #fff;
  font-size: 15px;
}

/* cta  */
.cta-section {
  background: var(--cta-bg-color);
}

.cta-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cta-title {
  font-family: poppins-700;
  margin-bottom: 14px;
}

.cta-title~p {
  font-family: poppins-500;
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 720px;
}

.cta-parent div {
  display: flex;
  align-items: center;
}

.telegram-link,
.email-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 46px;
  border-radius: 6px;
  border: solid #A82FFC;
  border-width: var(--border-width);
  color: var(--cool-purple-color);
  background: #FFF;
}

.telegram-link img,
.email-link img {
  margin-right: 3px;
}

.email-link {
  background: var(--cool-purple-color);
  border: none;
  margin-left: 10px;
  color: white;
}

/* footer  */
.footer {
  padding: 60px 20px 20px;
  background: var(--pale-purple-color) cover;
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-lists-wrapper {
  align-items: start;
}

.footer-lists-wrapper li:last-child {
  margin-right: 0;
}

.footer-pages-link-list,
.footer-wallpapers-link-list {
  width: auto;
  position: relative;
  visibility: visible;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 3px 0 0;
  left: auto;
  top: auto;
  font-family: poppins-400;
  font-size: 16px;
}

.footer-pages-link-list li::before,
.footer-wallpapers-link-list li::before {
  display: none;
}

.footer-social-networks-list {
  display: flex;
  align-items: center;
}

.footer-social-networks-list-child:not(:last-child) {
  margin-right: 14px;
}

.footer-social-networks-list-child {
  height: 24px;
}

.footer-social-networks-list-child a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.footer-icon {
  color: var(--cool-purple-color);
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: var(--links-color);
}

.footer-bottom {
  border-top: 1px solid var(--cool-purple-color);
  padding: 14px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--links-color);
}

.footer-bottom a {
  text-decoration: underline;
  color: var(--links-color);
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: var(--heading-color);
}