:root {
  --heading-color: #290056;
  --links-color: #5300AF;
  --violet-color: #7A08FA;
  --cool-purple-color: #A82FFC;
  --heliotrope-color: #C264FE;
  --pale-purple-color: #F8ECFD;
  --star-rating-color: #FF9529;
  --banana-color: #FFE234;
  --orange-color: #FA8B08;
  --pink-color: #F508FA;
  --green-color: #08FA69;
  --black-color: #000;
  --white-color: #fff;
  /* shape color  */
  --shape-color: #5300AF;
  /* card box shadow  */
  --card-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0.5px solid #7fa8ff;
  outline-offset: 2px;
  border-radius: 6px;
}

/* poppins font  */
@font-face {
  font-family: poppins-900;
  src: url(../fonts/poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: poppins-700;
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-600;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppins-500;
  src: url(../fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-400;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

/* body  */
.body {
  background-color: var(--pale-purple-color);
  scroll-behavior: smooth;
  font-family: 'poppins-400', sans-serif;
  color: var(--links-color);
}

/* dark mode run  */
.dark-mode {
  --heading-color: #F8ECFD;
  --links-color: #C264FE;
  --violet-color: #7A08FA;
  --cool-purple-color: #A82FFC;
  --heliotrope-color: #C264FE;
  --pale-purple-color: #1f0041;
  --star-rating-color: #FF9529;
  --banana-color: #FFE234;
  --orange-color: #290056;
  --pink-color: #290056;
  --green-color: #290056;
  --black-color: #290056;
  --white-color: #5b00c3;
  /* shape color  */
  --shape-color: #290056;
  /* card box shadow  */
  --card-shadow: 0 0 0px 0.5px #43008a, 1px 1px 3px 0 #0000005b;
}

body::-webkit-scrollbar {
  background: var(--pale-purple-color);
  width: 11px;
}

body::-webkit-scrollbar-thumb {
  border: 2px var(--pale-purple-color) solid;
  border-radius: 8px;
  background: var(--violet-color);
  opacity: 0.7;
}

/* container  */
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

/* intial syles  */
ul {
  list-style: none;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-family: poppins-700;
  color: var(--heading-color);
}

h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: poppins-600;
  color: var(--heading-color);
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-family: poppins-500;
  color: var(--heading-color);
}

p {
  font-size: 18px;
  line-height: normal;
}

section {
  padding: 60px 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

/* header  */
.header {
  padding: 24px 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav  */
.nav-and-darkmode-btn-wrapper {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  font-family: 'poppins-500', sans-serif;
  font-size: 18px;
  line-height: normal;
}

.header-list-child {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.header-list-child a {
  color: var(--links-color);
}

.pages-link-list-title:hover,
.wallpapers-list-title:hover,
.header-list-child a:hover,
.pages-link-list-child a:hover,
.wallpapers-list-child a:hover {
  color: var(--heading-color);
}

.pages-link-list-title,
.wallpapers-list-title,
.header-list-child a,
.pages-link-list-child a,
.wallpapers-list-child a {
  transition: color 0.3s ease;
}

.pages-link-list,
.wallpapers-list {
  visibility: hidden;
  position: absolute;
  width: 170px;
  padding: 10px;
  background: var(--white-color);
  border-radius: 8px;
  font-family: 'poppins-400', sans-serif;
  font-size: 16px;
  top: 22px;
  left: -10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  transition: visibility 0.2s ease;
}

.pages-link-list-title:hover~.pages-link-list,
.wallpapers-list-title:hover~.wallpapers-list,
.pages-link-list:hover,
.wallpapers-list:hover {
  visibility: visible;
}

.pages-link-list {
  width: 190px;
}

.pages-link-list-child,
.wallpapers-list-child {
  position: relative;
}

.wallpapers-list-child:not(:last-child),
.pages-link-list-child:not(:last-child) {
  margin-bottom: 3px;
}

.pages-link-list-child:first-child:before,
.wallpapers-list-child:first-child:before {
  content: '';
  position: absolute;
  top: -19px;
  left: 4px;
  width: 13px;
  height: 10px;
  background: var(--white-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.wallpapers-list {
  position: absolute;
  font-family: 'poppins-400', sans-serif;
  width: 170px;
  padding: 10px;
  border-radius: 8px;
}

/* dark mode btn  */
.dark-mode-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 80px;
  height: 40px;
  padding: 4px;
  background: var(--white-color);
  border-radius: 100px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.sun-icon,
.moon-icon {
  z-index: 2;
  width: 26px;
  height: 26px;
}

.sun-icon {
  margin-left: 3px;
}

@keyframes sun-animation {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 0.7);
  }

  95% {
    transform: scale(0.7, 1.3);
  }
}

.sun-animation {
  transform: scaleX(1);
  animation: sun-animation 0.5s ease;
}

.dark-mode-btn-circle-shape {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 0;
  width: 32px;
  height: 32px;
  z-index: 1;
  border-radius: 100px;
  background: var(--shape-color);
  transition: left 0.5s ease, right 0.5s ease, width 0.5s ease, ;
}

@keyframes shape-intial-animation {
  0% {
    right: 4px;
    left: auto;
  }

  49% {
    right: 4px;
    left: auto;
  }

  50% {
    right: auto;
    width: 72px;
  }

  100% {
    width: 32px;
  }
}

.shape-intial-animation {
  right: auto;
  animation: shape-intial-animation 0.5s ease;
}

@keyframes shape-animation {
  0% {
    right: auto;
  }

  49% {
    right: auto;
  }

  50% {
    right: 4px;
    width: 72px;
  }

  100% {
    width: 32px;
  }
}

.shape-run {
  left: auto;
  right: 4px;
  animation: shape-animation 0.5s ease;
}

.moon-icon {
  margin-right: 3px;
}

.remove-intial-animation {
  animation-name: sun-animatio;
}

/* main  */
.center {
  padding: 50px 20px;
}

.index-title {
  margin-bottom: 12px;
}

.index-title~p {
  max-width: 710px;
  font-family: poppins-500;
  margin-bottom: 40px;
  opacity: 0.7;
}

.pages-cards-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.page-card-child {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: start;
  border-radius: 50px;
  padding: 40px 40px 0;
  height: 400px;
  box-shadow: var(--card-shadow);
}

.page-card-child:hover .page-card-center-img {
  transform: scale(1.1);
}

.page-card-child:nth-child(1) {
  background: var(--green-color);
}

.page-card-child:nth-child(2) {
  background: var(--pink-color);
}

.page-card-child:nth-child(3) {
  background: var(--orange-color);
}

.page-card-child:nth-child(4) {
  background: var(--black-color);
}

.page-card-child div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.page-card-title {
  color: #FFF;
  font-family: poppins-600;
  font-size: 26px;
  font-style: normal;
  line-height: normal;
}

.top-right-arrow-icon {
  color: white;
}

.page-card-center-img {
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease;
}

.image-count-info {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 50px;
  border-radius: 50px 0;
  background: #5300AF;
  color: #fff;
  font-size: 15px;
}