:root {
  --heading-color: #34006c;
  --links-color: #5300AF;
  --violet-color: #7A08FA;
  --cool-purple-color: #A82FFC;
  --heliotrope-color: #C264FE;
  --pale-purple-color: #F8ECFD;
  --star-rating-color: #FF9529;
  --banana-color: #FFE234;
  --orange-color: linear-gradient(140deg, #FA8B08, 60%, #fab508);
  --pink-color: linear-gradient(140deg, #F508FA, 60%, #b908fa);
  --green-color: linear-gradient(140deg, #5bff03, 60%, #03ff4f);
  --black-color: linear-gradient(140deg, #000, 60%, #272727);
  --white-color: #fff;
  /* shape color  */
  --shape-color: #5300AF;
  /* card box shadow  */
  --card-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
  /* cta color  */
  --cta-bg-color: #ffffff;
  /* lists bg color */
  --header-lists-bg: #fff;
  /* 1px border width to 0px*/
  --border-width: 1px;
  /* violet color to white color */
  --violet-to-white: #5300af;
  /* white color to violet  */
  --white-to-violet: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--cool-purple-color);
  outline-offset: 2px;
  border-radius: 6px;
}

/* poppins font  */
@font-face {
  font-family: 'poppins-700';
  src: url(../fonts/poppins/Poppins-Bold.ttf), local('Poppins Bold'), local('Poppins-Bold');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: poppins-600;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf), local('Poppins Semibold'), local('Poppins-Semibold');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: poppins-500;
  src: url(../fonts/poppins/Poppins-Medium.ttf), local('Poppins Medium'), local('Poppins-Medium');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: poppins-400;
  src: url(../fonts/poppins/Poppins-Regular.ttf), local('Poppins Regular'), local('Poppins-Regular');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* body  */
.body {
  background: var(--pale-purple-color);
  font-family: 'poppins-400', sans-serif;
  color: var(--links-color);
  padding-top: 106px;
}

/* dark mode run  */
.dark-mode {
  --heading-color: #F8ECFD;
  --links-color: #A82FFC;
  --violet-color: #7A08FA;
  --cool-purple-color: #A82FFC;
  --heliotrope-color: #C264FE;
  --pale-purple-color: linear-gradient(45deg, #1f0041, #310066);
  --star-rating-color: #FF9529;
  --banana-color: #FFE234;
  --orange-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --pink-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --green-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --black-color: linear-gradient(140deg, #5b00c3, 20%, #290056);
  --white-color: #5b00c3;
  /* lists bg color */
  --header-lists-bg: linear-gradient(140deg, #310064, 85%, #5b00c3);
  /* shape color  */
  --shape-color: #290056;
  /* card box shadow  */
  --card-shadow: 0 0 0px 0.5px #43008a, 1px 1px 3px 0 #0000005b;
  /* cta color  */
  --cta-bg-color: linear-gradient(45deg, #290056 10%, 60%, #4d00a4);
  /* 1px border width to 0px*/
  --border-width: 0px;
  /* violet color to white color */
  --violet-to-white: #fff;
  /* white color to violet  */
  --white-to-violet: #5300AF;
}

/* container  */
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

/* intial syles  */
ul {
  list-style: none;
}

h1 {
  font-size: 38px;
  line-height: 50px;
  font-family: poppins-700;
  color: var(--heading-color);
}

h2 {
  font-size: 34px;
  line-height: 40px;
  font-family: poppins-600;
  color: var(--heading-color);
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-family: poppins-500;
  color: var(--heading-color);
}

p {
  font-size: 18px;
  line-height: normal;
}

section {
  padding: 60px 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.overflow-hidden {
  overflow: hidden;
}

/* top btn  */
@keyframes topBtnAnimation {
  0% {
    opacity: 0;
    bottom: 10px;
  }

  1000% {
    opacity: 1;
    bottom: 40px;
  }
}

.top-btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 40px;
  border-radius: 8px;
  z-index: 20;
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  animation: topBtnAnimation 0.8s ease;
  transition: background-color 0.3s ease;
}

@keyframes topToBottom {
  0% {
    bottom: 40px;
    opacity: 1;
  }

  100% {
    bottom: 20px;
    opacity: 0;
  }
}

.top-to-bottom {
  animation: topToBottom 0.8s ease;
}

.top-btn svg {
  z-index: 2;
  transition: color 0.3s ease;
}

.top-btn:hover {
  background: var(--cool-purple-color);
  color: #fff;
}

/* header  */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: var(--pale-purple-color);
  z-index: 10;
  padding: 24px 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  transition: padding 0.3s ease;
}

/* small header */
.small-header {
  padding: 14px 0;
}

.dark-filter {
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.dark-filter-active {
  visibility: visible;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 150px;
  height: 51px;
  transition: width 0.3s ease, height 0.3s ease;
}

.small-header-logo {
  width: 130px;
  height: 45px;
}

/* nav  */
.nav-and-darkmode-btn-wrapper {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  font-family: 'poppins-500', sans-serif;
  font-size: 18px;
  line-height: normal;
}

.header-list-child {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.header-list-child a {
  color: var(--links-color);
}

.pages-link-list-title:hover,
.wallpapers-link-list-title:hover,
.header-list-child a:hover,
.pages-link-list-child a:hover,
.wallpapers-link-list-child a:hover {
  color: var(--heading-color);
}

.pages-link-list-title,
.wallpapers-link-list-title,
.header-list-child a,
.pages-link-list-child a,
.wallpapers-link-list-child a {
  transition: color 0.3s ease;
}

.pages-link-list,
.wallpapers-link-list {
  visibility: hidden;
  position: absolute;
  width: 170px;
  padding: 10px;
  background: var(--header-lists-bg);
  border-radius: 8px;
  font-family: 'poppins-400', sans-serif;
  font-size: 16px;
  top: 22px;
  left: -10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  transition: visibility 0.2s ease;
}

.pages-link-list-title:hover~.pages-link-list,
.wallpapers-link-list-title:hover~.wallpapers-link-list,
.pages-link-list:hover,
.wallpapers-link-list:hover {
  visibility: visible;
}

.pages-link-list {
  width: 190px;
}

.pages-link-list-child,
.wallpapers-link-list-child {
  position: relative;
}

.wallpapers-link-list-child:not(:last-child),
.pages-link-list-child:not(:last-child) {
  margin-bottom: 3px;
}

.pages-link-list-child:first-child::before,
.wallpapers-link-list-child:first-child::before {
  content: '';
  position: absolute;
  top: -19px;
  left: 4px;
  width: 13px;
  height: 10px;
  background: var(--white-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.wallpapers-link-list {
  position: absolute;
  font-family: 'poppins-400', sans-serif;
  width: 170px;
  padding: 10px;
  border-radius: 8px;
}

/* dark mode btn  */
.dark-mode-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 80px;
  height: 40px;
  padding: 4px;
  background: var(--white-color);
  border-radius: 100px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25) inset;
}

.sun-icon,
.moon-icon {
  z-index: 2;
  width: 26px;
  height: 26px;
}

.sun-icon {
  margin-left: 3px;
}

@keyframes sun-animation {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 0.7);
  }

  95% {
    transform: scale(0.7, 1.3);
  }
}

.sun-animation {
  transform: scaleX(1);
  animation: sun-animation 0.5s ease;
}

.dark-mode-btn-circle-shape {
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 0;
  width: 32px;
  height: 32px;
  z-index: 1;
  border-radius: 100px;
  background: var(--shape-color);
  transition: left 0.5s ease, right 0.5s ease, width 0.5s ease, ;
}

@keyframes shape-intial-animation {
  0% {
    right: 4px;
    left: auto;
  }

  49% {
    right: 4px;
    left: auto;
  }

  50% {
    right: auto;
    width: 72px;
  }

  100% {
    width: 32px;
  }
}

.shape-intial-animation {
  right: auto;
  animation: shape-intial-animation 0.5s ease;
}

@keyframes shape-animation {
  0% {
    right: auto;
  }

  49% {
    right: auto;
  }

  50% {
    right: 4px;
    width: 72px;
  }

  100% {
    width: 32px;
  }
}

.shape-run {
  left: auto;
  right: 4px;
  animation: shape-animation 0.5s ease;
}

.moon-icon {
  margin-right: 3px;
}

.remove-intial-animation {
  animation-name: sun-animatio;
}

.hamburger-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: transparent;
  width: 30px;
  height: 30px;
  transform-origin: center;
  transition: rotate 0.4s ease;
  z-index: 12;
}

.hamburger-btn span {
  display: block;
  position: absolute;
  background: #b908fa;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  transition: all 0.3s ease;
}


.hamburger-btn span:nth-child(1) {
  bottom: 22px;
}

.hamburger-btn span:nth-child(2) {
  bottom: calc(50% - 1.5px);
}

.hamburger-btn span:nth-child(3) {
  bottom: 5px;
}

.hamburger-menu-active {
  rotate: 180deg;
}

.hamburger-menu-active span {
  width: 34px;
}

.hamburger-menu-active span:nth-child(1) {
  bottom: calc(50% - 1.5px);
  rotate: -45deg;
}

.hamburger-menu-active span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hamburger-menu-active span:nth-child(3) {
  bottom: calc(50% - 1.5px);
  rotate: 45deg;
}


/* new page  */

.hero {
  padding: 60px 0 0;
}

.hero .container {
  position: relative;
}

.title {
  margin-bottom: 20px;
}

.hero-main-details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: end;
  height: 540px;
  overflow: hidden;
  padding: 58px 54px;
  border-radius: 10px;
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1200px;
  border-radius: 10px;
  z-index: 0;
}

.hero-dark-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, 90%, rgba(0, 0, 0, 0.5));
}

.hero-home-link,
.hero-title,
.hero-bottom {
  z-index: 1;
}

.hero-home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  border-radius: 100px;
  background: #fff;
  color: #7A08FA;
  font-family: poppins-500;
}

.hero-home-link img {
  margin-right: 3px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 530px;
  flex-grow: 1;
  font-family: 'poppins-700';
  color: #fff;
  text-align: right;
  line-height: normal;
}

.hero-title-mark {
  color: #FFE234;
}

.hero-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.website-link {
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: normal;
}

.hero-social-networks-list li:not(:last-child) {
  margin-right: 20px;
}

.hero-social-networks-list li a:focus {
  outline-offset: 3.5px;
}

.hero-social-networks-list li a svg {
  height: 30px;
  color: #fff;
}

.hero-social-networks-list li a svg:hover {
  color: #b908fa;
}

.hero-social-networks-list li a svg {
  width: 24px !important;
  height: 24px !important;
}

@keyframes bottom-icon {

  0%,
  100% {
    bottom: 15px;
    opacity: 1;
  }

  50% {
    bottom: 5px;
    opacity: 0.2;
  }
}

.bottom-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 13px);
  animation: bottom-icon 3s linear infinite;
}

/* main  */

.images-section h2 {
  margin-bottom: 12px;
}

.images-section-description-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 40px;
}

.images-section-description-wrapper p {
  font-family: poppins-500;
  max-width: 600px;
}

.images-section-description-wrapper a {
  font-family: poppins-500;
  font-size: 13px;
  padding: 12px 36px;
  border-radius: 8px;
  color: var(--links-color);
  background: transparent;
  border: 1.5px solid var(--links-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.images-section-description-wrapper a:hover {
  color: #fff;
  background: var(--links-color);
}

.images-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.images-list-child {
  border-radius: 8px;
  background: var(--white-to-violet);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.images-list-child img:nth-child(1) {
  width: 100%;
  filter: brightness(0.97);
  border-radius: 7px 7px 0 0;
}

.images-list-child-bottom {
  padding: 8px;
  background: var(--white-to-violet);
  border-radius: 0 0 8px 8px;
}

.images-list-child-bottom div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.images-list-child-bottom h3 {
  font-size: 17px;
  font-family: poppins-600;
  color: var(--heading-color);
}

.downloads-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FF9529;
  font-size: 14px;
  border-radius: 4px;
  line-height: 16px;
}

.downloads-count img {
  width: 17px;
  height: 17px;
  margin-left: 3px;
}

.display-image-btn,
.create-image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1.5px solid var(--violet-to-white);
  color: var(--violet-to-white);
  background: var(--white-to-violet);
  padding: 7px 0;
  border-radius: 6px;
  font-size: 14px;
  font-family: poppins-400;
  line-height: normal;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.display-image-btn span,
.create-image-btn span {
  transition: color 0.3s ease;
}

.display-image-btn:hover {
  background: var(--violet-to-white);
  color: var(--white-to-violet);
}

.image-icon,
.add-image-icon {
  width: 22px;
  height: 22px;
  margin-left: 3px;
  transition: color 0.3s ease;
}

.create-image-btn {
  background: var(--violet-to-white);
  border: 1.5px solid var(--violet-to-white);
  color: var(--white-to-violet);
  margin: 0;
}

.create-image-btn:hover {
  background: var(--white-to-violet);
  color: var(--violet-to-white);
}

/* image creator place  */
.image-creation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 21;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.image-creation-dark-filter {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.image-creation-place {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
  background: linear-gradient(154deg, #9700FF 0%, #450075 100%);
  padding: 65px;
}

.close-image-creation-wrapper-window-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  top: 0;
  right: 0;
  border-radius: 0 10px;
  background: rgb(255, 54, 54);
}

.close-image-creation-wrapper-window-btn:focus {
  outline-offset: -2px;
  outline-color: white;
} 

.image-creation-place-child {
  display: grid;
  overflow: hidden;
  grid-template-columns: auto auto;
  align-items: center;
  border-radius: 6px;
}

.image-creation-place-image-wrapper {
  position: relative;
  max-width: 350px;
  max-height: 350px;
  width: 350px;
  height: 100%;
}

.main-image {
  max-width: 350px;
  max-height: 350px;
}

.image-download-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

@keyframes circle-loading {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.7);
  }
}

.image-download-animation span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #e59dff;
  animation: 0.8s circle-loading ease infinite;
}

.image-download-animation span:not(:last-child) {
  margin-right: 16px;
}

.image-download-animation span:nth-child(1) {
  animation-delay: 0.2s;
}

.image-download-animation span:nth-child(2) {
  animation-delay: 0.4s;
}

.image-download-animation span:nth-child(3) {
  animation-delay: 0.6s;
}

.create-image-form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  height: 100%;
  padding: 25px;
  border-radius: 0px 8px 8px 0px;
  background: rgba(151, 0, 255, 0.40);
  backdrop-filter: blur(2px);
}

.create-image-form h3 {
  font-size: 14px;
  color: #fff;
  font-family: poppins-400;
}

.create-image-form p {
  font-size: 13px;
  color: #fff;
  line-height: 14px;
  margin-bottom: auto;
}

.font-family-changer,
.name-input,
.name-adder-btn,
.image-downloader-link {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border: none;
  padding: 10px;
  margin-top: 17px;
  justify-content: center;
  border-radius: 6px;
  font-family: poppins-400;
  font-size: 14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
}

.font-family-changer:focus,
.name-input:focus,
.name-adder-btn:focus,
.image-downloader-link:focus {
  outline: 1.5px solid #fff;
  outline-offset: 0px;
}

.name-input {
  margin: 0;
}

.name-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.name-input-placeholder {
  position: absolute;
  left: 0px;
  top: -20px;
  font-size: 12px;
  line-height: 13px;
  height: 14px;
  color: #fff;
  transition: top 0.15s ease, left 0.15s ease, color 0.15s ease, font-size 0.15s ease;
}

.name-input::placeholder {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.name-input:placeholder-shown~.name-input-placeholder {
  left: 10px;
  top: calc(50% - 7px);
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
}

.font-family-changer option {
  color: #fff;
  background-color: #5300AF !important;
}

.name-adder-btn img,
.image-downloader-link img {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}

.image-downloader-link,
.name-adder-btn {
  background: rgba(154, 66, 255, 0.6);
}

/* main  */
.center {
  padding: 60px 20px;
}

.index-title {
  margin-bottom: 12px;
}

.index-title~p {
  max-width: 710px;
  font-family: poppins-500;
  margin-bottom: 40px;
}

.pages-cards-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.page-card-child {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: start;
  border-radius: 50px;
  padding: 40px 40px 0;
  height: 400px;
  box-shadow: var(--card-shadow);
}

.page-card-child:hover .page-card-center-img {
  transform: scale(1.1);
}

.page-card-child:nth-child(1) {
  background: var(--green-color);
}

.page-card-child:nth-child(2) {
  background: var(--pink-color);
}

.page-card-child:nth-child(3) {
  background: var(--orange-color);
}

.page-card-child:nth-child(4) {
  background: var(--black-color);
}

.page-card-child div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.page-card-title {
  color: #FFF;
  font-family: poppins-600;
  font-size: 26px;
  font-style: normal;
  line-height: normal;
}

.top-right-arrow-icon {
  color: white;
}

@keyframes shooting {

  0% {
    transform: scale(1) translate(0px, 0px);
  }

  50% {
    transform: scale(0.3) translate(0px, 0px);
  }

  100% {
    transform: scale(1) translate(100px, -100px);
  }
}

.shooting {
  transform: translate(100px, -100px);
  animation: shooting 0.6s ease;
}

.page-card-center-img {
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease;
}

.white-mountains-img {
  bottom: calc(50% - 72px);
}

.image-count-info {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 50px;
  border-radius: 50px 0;
  background: #5300AF;
  color: #fff;
  font-size: 15px;
}

/* cta  */
.cta-section {
  background: var(--cta-bg-color);
}

.cta-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cta-title {
  font-family: poppins-600;
  margin-bottom: 14px;
}

.cta-title~p {
  font-family: poppins-500;
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 720px;
}

.cta-parent div {
  display: flex;
  align-items: center;
}

.telegram-link,
.email-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 46px;
  border-radius: 6px;
  border: solid #A82FFC;
  border-width: var(--border-width);
  color: var(--cool-purple-color);
  background: #FFF;
}

.telegram-link img,
.email-link img {
  margin-right: 3px;
}

.email-link {
  background: var(--cool-purple-color);
  border: none;
  margin-left: 10px;
  color: white;
}

/* footer  */
.footer {
  padding: 60px 20px 20px;
  background: var(--pale-purple-color) cover;
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-lists-wrapper {
  align-items: start;
}

.footer-lists-wrapper li:last-child {
  margin-right: 0;
}

.footer-pages-link-list,
.footer-wallpapers-link-list {
  width: auto;
  position: relative;
  visibility: visible;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 3px 0 0;
  left: auto;
  top: auto;
  font-family: poppins-400;
  font-size: 16px;
}

.footer-pages-link-list li::before,
.footer-wallpapers-link-list li::before {
  display: none;
}

.footer-social-networks-list {
  display: flex;
  align-items: center;
}

.footer-social-networks-list-child:not(:last-child) {
  margin-right: 14px;
}

.footer-social-networks-list-child {
  height: 24px;
}

.footer-social-networks-list-child a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.footer-icon {
  color: var(--cool-purple-color);
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: var(--links-color);
}

.footer-bottom {
  border-top: 1px solid var(--cool-purple-color);
  padding: 14px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--links-color);
}

.footer-bottom a {
  text-decoration: underline;
  color: var(--links-color);
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: var(--heading-color);
}

.hidden {
  display: none !important;
}

.hidden-2 {
  display: none !important;
}

@media only screen and (max-width:1000px) {
  .header-logo {
    width: 120px;
    height: 41px;
  }

  .header-list-child {
    margin-right: 20px;
  }

  .header-list-child a,
  .header-list-child span {
    font-size: 17px;
  }

  h2 {
    font-size: 33px;
  }

  p {
    font-size: 17px !important;
  }

  .page-card-title {
    font-size: 23px;
  }

  .top-right-arrow-icon {
    width: 55px;
    height: 55px;
  }

  .image-count-info {
    font-size: 16px !important;
  }

  .telegram-link,
  .email-link {
    width: 200px;
    height: 44px;
    font-size: 15px;
  }

  .image-creation-place {
    padding: 40px;
  }

  .create-image-form p {
    font-size: 13px !important;
  }
}

@media only screen and (max-width:900px) {
  .top-btn {
    width: 44px;
    height: 44px;
    bottom: 30px;
    right: 30px;
  }

  .hero-bg {
    top: calc(50% - 280px);
  }

  .hero-main-details {
    height: 440px;
    padding: 30px;
  }

  .hero-home-link {
    padding: 7px 24px;
    font-size: 15px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-home-link img {
    width: 22px;
    height: 22px;
  }

  .hero-social-networks-list {
    flex-direction: row !important;
  }

  .website-link {
    font-size: 14px;
  }

  .images-section-description-wrapper a {
    padding: 10px 26px;
  }

  .hero-social-networks-list li {
    margin-bottom: 0 !important;
  }

  .center,
  .footer {
    padding: 50px 20px;
  }

  .index-title~p,
  .cta-title~p,
  .images-section-description-wrapper p {
    max-width: 600px;
    line-height: 22px;
  }

  .page-card-child {
    padding: 30px 30px 0;
    height: 330px;
  }

  .page-card-title {
    font-size: 20px;
  }

  .top-right-arrow-icon {
    width: 48px;
    height: 48px;
  }

  .page-card-center-img {
    width: 150px;
    height: auto;
  }

  .white-mountains-img {
    width: 300px;
  }

  .image-count-info {
    width: 200px;
    height: 40px;
    font-size: 13px !important;
  }

  .cta-section,
  .hero,
  .images-section {
    padding: 50px 0;
  }

  .footer-logo {
    width: 100px !important;
    height: 34px !important;
  }

  .footer-social-networks-list {
    flex-direction: column;
  }

  .footer-social-networks-list-child:not(:last-child) {
    margin: 0 0 10px;
  }

  .footer-bottom {
    font-size: 13px;
  }

  .image-creation-place {
    padding: 20px;
  }

  .close-image-creation-wrapper-window-btn {
    width: 50px;
    height: 20px;
  }

  .close-image-creation-wrapper-window-btn img {
    width: 20px;
    height: 20px;
  }

  .image-creation-place-image-wrapper {
    max-width: 300px;
    max-height: 300px;
  }

  .main-image {
    max-width: 300px;
    max-height: 300px;
  }

  .create-image-form {
    padding: 14px;
    max-width: 350px;
  }

  .create-image-form h3 {
    font-size: 13px;
  }

  .font-family-changer,
  .name-input,
  .name-adder-btn,
  .image-downloader-link {
    height: 36px;
    margin-top: 14px;
  }

  .name-input {
    margin: 0;
  }
}

@media only screen and (max-width:800px) {
  .images-section-description-wrapper p {
    max-width: 500px;
  }

  .images-list {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width:750px) {
  .header {
    padding: 20px 0;
  }

  .small-header {
    padding: 14px 0;
  }

  .header-logo-link {
    order: 2;
  }

  .nav-and-darkmode-btn-wrapper {
    order: 1;
  }

  .header-nav {
    position: fixed;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--pale-purple-color);
    z-index: 12;
    transform: translateX(105%);
    transition: transform 0.5s ease;
  }

  .header-nav-active {
    transform: translateX(0);
  }

  .header-list {
    padding: 80px 20px 0;
    flex-direction: column;
    align-items: end;
  }

  .header-list-child {
    margin-right: 0 !important;
  }

  .header-list-child:not(:last-child) {
    margin: 0 0 16px;
  }

  .pages-link-list,
  .wallpapers-link-list {
    width: auto;
    position: static;
    visibility: visible;
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .pages-link-list-title,
  .wallpapers-link-list-title {
    display: flex;
    justify-content: end;
    width: auto;
  }

  .pages-link-list-child,
  .wallpapers-link-list-child {
    display: flex;
    justify-content: end;
  }

  .pages-link-list-child::before,
  .wallpapers-link-list-child::before {
    display: none;
  }

  .hamburger-btn {
    display: flex;
    order: 3;
  }

  .header-list-child {
    margin-right: 20px;
  }

  .header-list-child a,
  .header-list-child span {
    font-size: 15px;
  }

  .nav-and-darkmode-btn-wrapper {
    position: relative;
    width: 64px;
    height: 32px;
  }

  .dark-mode-btn {
    position: absolute;
    left: -8px;
    top: -4px;
    transform: scale(0.8);
  }

  h2 {
    font-size: 30px;
  }

  p {
    max-width: 500px !important;
    font-size: 16px !important;
  }

  .hero-main-details {
    height: 400px;
  }

  .hero-bg {
    width: auto;
    height: 400px;
    top: 0;
    left: -50px;
  }

  .hero-title {
    font-size: 27px;
    max-width: 420px;
  }

  .images-section-description-wrapper p {
    max-width: 400px !important;
  }

  .pages-cards-wrapper {
    grid-template-columns: auto;
  }

  .page-card-title {
    font-size: 22px;
  }

  .telegram-link,
  .email-link {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }

  .footer-lists-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    gap: 20px;
    padding: 0;
  }

  .footer-lists-wrapper li:not(:last-child) {
    margin-right: 0;
  }

  .footer-lists-wrapper li:nth-child(3) {
    order: 4;
  }

  .footer-lists-wrapper li:nth-child(4) {
    order: 3;
  }

  .footer-lists-wrapper li li,
  .footer-lists-wrapper li span {
    justify-content: start;
  }

  @keyframes filterOpacity {
    0% {
      background: rgba(0, 0, 0, 0);
    }

    50% {
      background: rgba(0, 0, 0, 0);
    }

    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .image-creation-dark-filter {
    animation: filterOpacity 1s ease 1;
  }

  .image-creation-place {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 380px;
    border-radius: 15px 15px 0 0;
    bottom: 0;
  }

  .image-creation-wrapper {
    transform: translateY(0);
    transition: transform 0.3s ease;
  }

  .close-image-creation-wrapper-window-btn {
    z-index: 30;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    border-radius: 100%;
  }

  .close-image-creation-wrapper-window-btn img {
    width: 24px;
    height: 24px;
  }

  .hidden-2 {
    display: block !important;
    transform: translateY(100%);
  }
}

@media only screen and (max-width:700px) {
  .image-creation-place {
    height: 90vh;
    overflow-y: auto;
  }

  .image-creation-place-child {
    grid-template-columns: auto;
    margin-top: auto;
    height: auto;
  }

  .image-creation-place-image-wrapper {
    max-width: 350px;
    max-height: 350px;
  }

  .main-image {
    max-width: 350px;
    max-height: 350px;
    border-radius: 8px 8px 0 0;
  }

  .create-image-form {
    height: 300px;
    border-radius: 0 0 8px 8px;
  }
}

@media only screen and (max-width:600px) {
  .hamburger-btn {
    transform: scale(0.88);
  }

  .hero-main-details {
    height: 320px;
  }

  .hero-bg {
    height: 320px;
  }

  .hero-home-link {
    font-size: 14px;
    padding: 6px 18px;
  }

  .hero-home-link img {
    width: 20px;
    height: 20px;
  }

  .hero-title {
    font-size: 24px;
  }

  .images-section-description-wrapper p {
    max-width: 600px !important;
    margin: 0 !important;
  }

  .images-section-description-wrapper a {
    display: none;
  }

  .hero-bottom {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:550px) {
  *:focus {
    outline: none;
  }

  .header {
    padding: 18px 0;
  }

  .small-header {
    padding: 6px 0;
  }

  h2 {
    font-size: 27px;
  }

  .cta-section,
  .images-section,
  .hero {
    padding: 40px 0;
  }

  .index-title~p,
  .cta-title~p,
  .images-section-description-wrapper p {
    max-width: 550px;
    font-size: 15px !important;
    margin-bottom: 30px;
  }

  .telegram-link,
  .email-link {
    width: 90px;
  }

  .telegram-link span,
  .email-link span {
    display: none;
  }

  .images-list {
    grid-template-columns: auto;
    justify-content: center;
  }

  .images-list-child {
    max-width: 380px;
  }
}

@media only screen and (max-width:470px) {
  .body {
    padding-top: 84px;
  }

  h2 {
    font-size: 24px;
  }

  .page-card-child {
    border-radius: 40px;
  }

  .image-count-info {
    border-radius: 40px 0;
  }

  .page-card-title {
    font-size: 19px;
  }

  .top-right-arrow-icon {
    width: 42px;
    height: 42px;
  }

  .center,
  .footer {
    padding: 40px 20px;
  }

  .hero-main-details {
    padding: 20px;
    height: 260px;
  }

  .hero-bg {
    height: 260px;
  }

  .hero-home-link {
    padding: 5px 14px;
  }

  .hero-title {
    font-size: 21px;
  }

  .website-link,
  .hero-home-link {
    font-size: 12px;
  }

  .hero-social-networks-list li:not(:last-child) {
    margin-right: 8px;
  }

  .hero-bottom {
    margin-bottom: 18px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 18px;
  }

  .footer-lists-wrapper {
    grid-template-columns: auto;
    margin-bottom: 14px;
  }

  .footer-social-networks-list {
    flex-direction: row;
  }

  .footer-social-networks-list-child:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .hero,
  .hero .container {
    padding: 0;
  }

  .hero-main-details {
    border-radius: 0;

  }

  .hero-bg {
    border-radius: 0;
  }
}

@media only screen and (max-width:400px) {
  .header-logo {
    width: 100px;
    height: 34px;
  }

  .header-nav {
    width: 250px;
  }

  .page-card-child {
    height: 270px;
    padding: 20px 20px 0;
  }

  .page-card-center-img:not(:last-child) {
    width: 130px;
  }

  .white-mountains-img {
    width: 200px !important;
  }

  .hero-main-details {
    height: 250px;
  }

  .hero-dark-filter {
    background: linear-gradient(90deg, transparent, 30%, #00000059);
  }

  .hero-title {
    font-size: 19px;
  }

  .hero-bottom {
    justify-content: end;
  }

  .website-link {
    display: none;
  }

  .hero-social-networks-list li a svg {
    width: 20px !important;
    height: 20px !important;
  }

  .hero-social-networks-list li:not(:last-child) {
    margin-right: 12px;
  }

  .image-creation-place-image-wrapper {
    max-width: auto;
    max-height: auto;
    width: 100%;
    height: 100%;
  }

  .main-image {
    max-width: auto;
    max-height: auto;
    width: 100%;
    height: 100%;
  }

  .create-image-form {
    height: 300px;
  }
}

@media only screen and (max-width:345px) {
  .hero-main-details {
    height: 230px;
  }

  .hero-home-link {
    padding: 4px 10px;
  }

  .hero-title {
    font-size: 18px;
  }

  .font-family-changer,
  .name-adder-btn,
  .image-downloader-link {
    margin-top: 10px;
  }
}